/* Amazon Link */

#page {
  
}

.show {
  display: block;
}

.hide {
  display: none;
}

.separator {
  margin-top: 50px;
  margin-bottom: 30px;
}


/* Sections */

#redirect {
  
}

#new {
  
}

#old {
  
}

#list {
  
}
